<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dpb.base.dao.UserBeanMapper">
  <resultMap id="BaseResultMap" type="com.dpb.base.model.UserBean">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PWD" jdbcType="VARCHAR" property="pwd" />
    <result column="REALNAME" jdbcType="VARCHAR" property="realname" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="DEPID" jdbcType="DECIMAL" property="depid" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  
  <resultMap id="LoginResultMap" type="com.dpb.base.dto.UserBeanDto">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PWD" jdbcType="VARCHAR" property="pwd" />
    <result column="REALNAME" jdbcType="VARCHAR" property="realname" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="DEPID" jdbcType="DECIMAL" property="depid" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="deptname" jdbcType="VARCHAR" property="deptName" />
  </resultMap>
  
  <sql id="Base_Column_List">
    ID, USERNAME, PWD, REALNAME, SEX, DEPID, PHONE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_USER
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="login" parameterType="map" resultMap="LoginResultMap">
  	 select 
  	 	t1.ID,USERNAME, PWD, REALNAME, SEX, DEPID, PHONE, t2.name deptname
 	 from t_user t1  left join t_department t2 on t1.depid = t2.id
  	 where username = #{userName}
  </select>
  
  <select id="query" parameterType="com.dpb.base.dto.UserBeanDto" resultMap="LoginResultMap">
  	select 
  	 	t1.ID,USERNAME, PWD, REALNAME, SEX, DEPID, PHONE, t2.name deptname
 	 from t_user t1  left join t_department t2 on t1.depid = t2.id
  	 <where>
  	 	<if test="username != null and userName!=''">
  	 		and username = #{userName}
  	 	</if>
  	 	<if test="realname!=null and realname!=''">
  	 		and realname = #{realname}
  	 	</if>
  	 	<if test="searchMsg!=null and searchMsg!=''">
  	 		and (username like '%'||#{searchMsg}||'%' 
  	 		   or realname like '%'||#{searchMsg}||'%' )
  	 	</if>
  	 </where>
  </select> 
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from T_USER
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.dpb.base.model.UserBean">
    insert into T_USER (ID, USERNAME, PWD, 
      REALNAME, SEX, DEPID, 
      PHONE)
    values (seq_t_user.nextval, #{username,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{depid,jdbcType=DECIMAL}, 
      #{phone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dpb.base.model.UserBean">
    insert into T_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      
        ID,
      
      <if test="username != null">
        USERNAME,
      </if>
      <if test="pwd != null">
        PWD,
      </if>
      <if test="realname != null">
        REALNAME,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="depid != null">
        DEPID,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      
        seq_t_user.nextval,
     
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="depid != null">
        #{depid,jdbcType=DECIMAL},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dpb.base.model.UserBean">
    update T_USER
    <set>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        PWD = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        REALNAME = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="depid != null">
        DEPID = #{depid,jdbcType=DECIMAL},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dpb.base.model.UserBean">
    update T_USER
    set USERNAME = #{username,jdbcType=VARCHAR},
      PWD = #{pwd,jdbcType=VARCHAR},
      REALNAME = #{realname,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      DEPID = #{depid,jdbcType=DECIMAL},
      PHONE = #{phone,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <insert id="insertUserAndRole" parameterType="map">
  	insert into t_user_role(userid,roleid)values(
  		<if test="userid != null"> 
  			#{userid},
  		</if>
  		<if test="userid == null">
  			seq_t_user.currval,
  		</if>
  		 #{roleid} 
  		) 
  </insert>
  <delete id="deleteByUserIdRoleId" parameterType="int">
  	delete from t_user_role where userid = #{userid}
  </delete>
</mapper>